include setup.py
include MANIFEST.in
include *.txt *.rst *.md
include VERSION
include AUTHORS
include LICENSE
exclude DISTRIBUTE

recursive-include reflexible *.py *.pyx *.pxd *.c *.h
recursive-include reflexible/tests *.py
recursive-include reflexible/uio_examples *
recursive-include fortflex FortFlex.f build_FortFlex.sh README
recursive-include doc/source *.rst *.txt *.py *.pdf *.css *.png
